* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.App {
  background-color: bisque;
}

.container {
  min-height: 100vh;
  max-width: 540px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sudoku {
  border-collapse: collapse;
  border: 3px solid black;
  
}

.sudoku td:nth-of-type(3){
  border-right: 3px solid black;
}

.sudoku tr:nth-of-type(even){
  border-bottom: 3px solid black;
}

.ceil {
  border: 1px solid gray;
  padding: 30px 35px;
  cursor: pointer;
}

.active-cell {
  background-color: lemonchiffon
}

.mistakes {
  color: brown;
  padding: 30px;
}

.btn {
  padding: 36px 50px;
  background-color: black;
  color: white;
  font-size: 50px;
  transition: .3s;
  border-radius: 50px;
}

.btn:hover {
  opacity: .7;
}